// Colors
$grayBG: #D2D2D2;
$mediumGray: #ebebeb;
$darkGray: #A9A9A9;
$lightGreen: #CCE3DE;
$lightPurple: #E1E5F2;

// Buttons / Icons
$darkGreen: #6B9080;
$teal: #1282A2;
$navy: #022B3A;
$lightBlue: #BFDBF7;
$pastelOrange: #F1DAC4;
$pastelGreen: #8FC7A7;
$goodGreen: #29D11B;
$deleteRed: #ff6565;

// Eisenhower Matrix
$eRed: #FFC7C2;
$eYellow: #FFE8A3;
$eOrange: #FCD19C;
$eGreen: #AFF4C6;

$black: #000;
$white: #fff;