// Colors
$grayBG: #D2D2D2;
$mediumGray: #E6E6E6;
$lightGreen: #CCE3DE;
$lightPurple: #E1E5F2;

// Buttons / Icons
$darkGreen: #6B9080;
$teal: #1282A2;
$navy: #022B3A;
$lighBlue: #BFDBF7;
$pastelOrange: #F1DAC4;

// Eisenhower Matrix
$lightRed: #FFC7C2;
$lightYellow: #FFE8A3;
$lightOrange: #FCD19C;
$lightGreen: #AFF4C6;

$black: #000;
$white: #fff;