// font-family: 'Blinker', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Blinker&display=swap');
// font-family: 'Nunito Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Blinker&family=Nunito+Sans&display=swap');

// font
$blinker: "Blinker", sans-serif;
$nunito: "Nunito Sans", sans-serif;

// font-sizes
$text-xs: 16px;
$text-sm: 18px;
$text-md: 21px;
$text-lg: 24px;
$text-xl: 48px;
$text-2xl: 60px;
$text-3xl: 72px;
$text-4xl: 84px;