@import "./modules/colors.scss";
@import "./modules/font.scss";

// Predefined Break-points
$mobile-width: 768px;
$medium-width: 1024px;
$large-width: 1280px;
$xl-width: 1500px;

// Extend Classes
// flex row
%flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
// flex column
%flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

// button click transform
%translate-btn-click-1px-1px {
    transform: translate(1px, 1px);
    -webkit-transform: translate(1px, 1px);
    -moz-transform: translate(1px, 1px);
    -o-transform: translate(1px, 1px);
    -ms-transform: translate(1px, 1px);
}