@import "./modules/colors.scss";
@import "./modules/font.scss";

// Predefined Break-points
$mobile-width: 768px;
$medium-width: 1024px;
$large-width: 1280px;
$xl-width: 1500px;

// Extend Classes
// flex row
%flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
// flex column
%flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}